*{
    padding: 0px;
    margin: 0px;
  }
  
  body {
    
    text-align: center;
    
  }
header {
    height: 50px;
    background: #cfb991;
    font-size: 100%;
    text-align: center;
  }
main {
    background: #000000;
    text-align: center;
    padding: 20px;
  }
  .flip-card {
    background-color: transparent;
    width: 220px;
    height: 200px;
    border: 3px solid #daaa00;
    border-radius: 20%;
    perspective: 1000px;
    padding: 0px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    border-radius: 20%;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: black ;
    color: black;
  }
  
  .flip-card-back {
    background-color: #CEB888;
    transform: rotateY(180deg);
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h3 {
    text-align: center;
  }
  .accordion-button{
    display:block;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(1); /* Invert the color to make it dark */
}
.buttonContainer {
  display: flex;
  margin-left: 800px;
  margin-right: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
@media (max-width: 1560px) {
  .carousel-area {
    height: 20%;
}
    .carousel-item img {
        width: 100%; /* Make the carousel images full width */
        height: auto; /* Automatically adjust the height */
    }
    
    
    .buttonContainer {
      display: flex;
      margin-left: 1px;
      width: auto;
    }
    .nav img{
      display: flex;
      width: 200px
    };
}
@media (max-width: 768px) {
  .carousel-area {
    height: 20%;
}
    .carousel-item img {
        width: 100%; /* Make the carousel images full width */
        height: auto; /* Automatically adjust the height */
    }
    
    
    .buttonContainer {
      display: flex;
      margin-left: 1px;
      width: auto;
    }
}